{{#if userInSession}}
  

  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 38rem; margin-top: 2rem;">
      <div class="card-body">
        <h3>User information</h3><hr>
        <div class="settings-card border-bottom">
          <div class="d-flex">
            <h6 class="card-title p-2">Username:</h6>
            <p class="p-2">{{capitalize userData.username}}</p>
          </div>
          <form method="POST" action="/settings/{{userInSession._id}}" {{userDisplay.changeButton}}>
            <input type="text" value="" name="userDisplayStatus" hidden>
            <button type="submit" class="btn btn-success">Change</button>
          </form>
          <form method="POST" action="/settings/{{userInSession._id}}" {{userDisplay.cancelButton}}>
            <input type="text" value="hidden" name="userDisplayStatus" hidden>
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>

          <form method="POST" action="/settings/{{userInSession._id}}/uname" {{userDisplay.content}}>
            <div class="mb-3">
              <label for="username-input" class="form-label">New username</label>
              <input type="text" class="form-control" id="username-input" name="username" placeholder="new username">
              <button type="submit" class="btn btn-outline-dark" style="margin-top: .5em;">Update</button>
            </div>
          </form>
        </div>
        

        <div class="settings-card  border-bottom" style="margin-top: 5px;">
          <div class="d-flex">
            <h6 class="card-title p-2">Email:</h6>
            <p class="p-2">{{userData.email}}</p>
          </div>
          <form method="POST" action="/settings/{{userInSession._id}}" {{emailDisplay.changeButton}}>
            <input type="text" value="" name="emailDisplayStatus" hidden>
            <button class="btn btn-success">Change</button>
          </form>
          <form method="POST" action="/settings/{{userInSession._id}}" {{emailDisplay.cancelButton}}>
            <input type="text" value="hidden" name="emailDisplayStatus" hidden>
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>

          <form method="POST" action="/settings/{{userInSession._id}}/email" {{emailDisplay.content}}>
            <div class="mb-3">
              <label for="email-input" class="form-label">New email</label>
              <input type="email" class="form-control" id="email-input" name="email" placeholder="example@example.com">
              <button type="submit" class="btn btn-outline-dark" style="margin-top: .5em;">Update</button>
            </div>
          </form>
        </div>
        

        <div class="settings-card border-bottom" style="margin-top: 5px;">
          <div class="d-flex">
            <h6 class="card-title p-2">Password:</h6>
            <p class="p-2">••••••••</p>
          </div>
          <form method="POST" action="/settings/{{userInSession._id}}" {{passwordDisplay.changeButton}}>
            <input type="text" value="" name="passwordDisplayStatus" hidden>
            <button class="btn btn-success">Change</button>
          </form>
          <form method="POST" action="/settings/{{userInSession._id}}" {{passwordDisplay.cancelButton}}>
            <input type="text" value="hidden" name="passwordDisplayStatus" hidden>
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>

          <form method="POST" action="/settings/{{userInSession._id}}/password" {{passwordDisplay.content}}>
            <div class="mb-3">
              <label for="password-input" class="form-label">New password</label>
              <input type="password" class="form-control" id="password-input" name="password" placeholder="••••••••">
              <button type="submit" class="btn btn-outline-dark" style="margin-top: .5em;">Update</button>
            </div>
          </form>
        </div>

        <div class="settings-card" style="margin-top: 5px;">
          <div class="d-flex">
            <form method="POST" action="/settings/{{userInSession._id}}/profilePicture" enctype="multipart/form-data" class="p-2">
            <div class="mb-3">
              <label for="formFile" class="form-label"><strong>Profile Picture:</strong></label>
              <input class="form-control" type="file" id="formFile" name="profilePicture">
              <button type="submit" class="btn btn-outline-dark" style="margin-top: .5em;">Update</button>
            </div>
          </form>
          </div>
          
        </div>

      </div>
    </div>
  </div>
{{else}}
  <div class="alert alert-warning" role="alert">
    You're not logged in!
  </div>
{{/if}}