{{#if userInSession}}


  <div class="d-flex flex-wrap justify-content-center">
    <div class="bg-light border rounded">
      <h1 class="text-center mt-3">Subjects</h1>

      {{#each subjects}}
      {{#if editDisplay}}
        <div class="position-relative bg-yellow">
          <div class="border rounded position-absolute bg-yellow w-100 px-3 ">
            <form class="d-flex flex-column"action="/subjects/{{this._id}}/edit" method="POST">
            <label for="">Subject:</label>
            <input class="font-weight-bold h4" type="text" name="subjectName" value="{{this.subjectName}}">

            <label for="">Teacher:</label>
            <input type="text" name="teacher" value="{{this.teacher}}">

            <button class="btn btn-success w-50 mt-2 mb-1 align-self-center" type="submit" >submit changes</button>
            </form>
          </div>
        </div>
      {{/if}}
        <div class="card m-4 border-dark shadow-sm" style="width: 25rem;">
          <div class="card-body">
              <h5 class="card-title">{{this.subjectName}}</h5>
              <p>Teacher: {{this.teacher}}</p>
              <p>No: {{this.color}}</p>            

              <div class="d-flex justify-content-between">
                <form action="/subjects/{{this._id}}/display-edit" method="POST">
                  <button type="submit" class="btn btn-success">
                    <i class="bi bi-pencil"></i>
                  </button>
                </form>
              
                <form action="/subjects/{{this._id}}/delete" method="POST">
                    <button class="btn btn-outline-danger">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
              </div>
          </div>
        </div>  
      {{/each}}
      <div class="d-flex justify-content-center mb-3 width-columns">
      
        <form action="/subjects/{{userId}}" method="POST">
          <button class="btn btn-primary rounded-circle button-animation button-animation" type="submit">+</button>
        </form>

      </div>

    </div>
  <link rel="stylesheet" href="/stylesheets/calendar-styles.css" />

  <div class="d-flex flex-wrap justify-content-center">
    <div class="bg-light border rounded">
      <h1 class="text-center mt-3">Select a Subject</h1>
      <div class="container">

    <div class="subject-container" >

        {{!-- <div class="subject-name" id="Math" style="background-color: #12a136;">Math</div> --}}

      {{#each subjects}}
        <div class="subject-name" id="sub-{{this.color}}" style="background-color: #f7f779;">{{this.subjectName}}</div>
      {{/each}}

        <div class="subject-name" id="deselect" >Deselect All</div>
    </div>

    <h3>Add selected subject to the schedule</h3>
    <div class="weekly-container">
      <div class="days-container">
        

        <span class="corner"></span>

        
          

            <div class="day">Monday</div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
          

        
      </div>

      <div class="part-day">
        <span class="time">8am <br>-<br> 9am</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">9am <br> - <br> 10am</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">10am <br> - <br> 11am</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">11am <br> - <br> 12pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">12pm <br> - <br> 1pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">1pm <br> - <br> 2pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">2pm <br> - <br> 3pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">3pm <br> - <br> 4pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">4pm <br> - <br> 5pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
      <div class="part-day">
        <span class="time">5pm <br> - <br> 6pm</span>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
          <div class="task"></div>
      </div>
    </div>
      <button class="deleteBtn">Reset Schedule</button>
      <div class="pop-up-container">
        <div class="pop-up">
        <h4>Are you sure yo want to delete all the Subjects from your schedule?</h4>
        <div class="btn-container">
          <div class="btn-answer" id="btn-yes">Yes</div>
          <div class="btn-answer" id="btn-no">No</div>
        </div>
        </div>

      </div>
  </div>
      </div>
  </div>

  </div>

  {{else}}
  <div class="alert alert-warning" role="alert">
    You're not logged in!
  </div>
{{/if}}