
{{#if userInSession}}

<div class="d-flex flex-wrap justify-content-center mt-4">
  {{!-- begining --}}
  <div class="bg-light border rounded width-columns m-2 bg-yellow shadow">
    {{!-- title --}}
    <div class="bg-title-hanvan rounded-pill m-4" style="width: 150px;">
      <h1 class="h5 text-center py-2">Backlog</h1>
    </div>
    {{!-- end of title --}}
    

    
      {{#each notes}}
        {{#if toDoBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table/{{userId}}" method="POST">
        <input class="d-none" type="text" name="status" value="toDo">
        <div id="effects" class="effects">
        <button class="btn btn-primary rounded-circle button-animation button-animation" type="submit">+</button>
        </div>
      </form>
    </div>
  </div>
{{!-- end --}}

  {{!-- begining --}}
  <div class="bg-light border rounded width-columns m-2 shadow ">
    {{!-- title --}}
    <div class="bg-red rounded-pill m-4" style="width: 150px;">
      <h1 class="h5 text-center py-2">Do today</h1>
    </div>
    {{!-- end of title --}}

    
      {{#each notes}}
        {{#if doTodayBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3 ">
      <form action="/main-table/{{userId}}" method="POST">
        <input class="d-none" type="text" name="status" value="doToday">
        <button class="btn btn-primary rounded-pill button-animation" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}

{{!-- begining --}}
  <div class="bg-light border rounded width-columns m-2 shadow">
    {{!-- title --}}
    <div class="bg-yellow rounded-pill m-4" style="width: 150px;">
      <h1 class="h5 text-center py-2">In progress</h1>
    </div>
    {{!-- end of title --}}

    
      {{#each notes}}
        {{#if inProgressBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3">
      <form action="/main-table/{{userId}}" method="POST">
        <input class="d-none" type="text" name="status" value="inProgress">
        <button class="btn btn-primary rounded-pill button-animation" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}
{{!-- begining --}}
  <div class="bg-light border rounded width-columns m-2 shadow">
    {{!-- title --}}
    <div class="bg-green rounded-pill m-4" style="width: 150px;">
      <h1 class="h5 text-center py-2">Done</h1>
    </div>
    {{!-- end of title --}}

      {{#each notes}}
        {{#if doneBoolean}}
          {{> note this}}
        {{/if}}
      {{/each}}
   
    <div class="d-flex justify-content-center mb-3 width-columns">
      <form action="/main-table/{{userId}}" method="POST">
        <input class="d-none" type="text" name="status" value="done">
        <button class="btn btn-primary rounded-pill font-weight-bold h-6 btn-lg button-animation" type="submit">+</button>
      </form>
    </div>
  </div>
{{!-- end --}}
</div>
{{else}}
<div class="alert alert-warning" role="alert">
  You're not logged in!
</div>
{{/if}}

