<div class="card m-4 border-dark" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p>Date: {{regexDate this.createdAt}}</p>
        <p>Time: {{regexTime this.createdAt}}</p>
        <p>{{this.status}}</p>
        <div class="d-flex">
            <a href="/main-table/{{this._id}}/edit" class="btn btn-primary">Edit</a>
            <form action="/main-table/{{this._id}}/delete" method="POST">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    </div>
</div>  