
<div class="card m-4 border-dark shadow-sm card-animation">

      {{#if editDisplay}}
      <div class="position-relative bg-yellow">
        <div class="rounded position-absolute bg-yellow w-100 px-3 ">
          <form class="d-flex flex-column"action="/main-table/{{this._id}}/edit" method="POST">
          <label for="">Title:</label>
          <input class="font-weight-bold h4" type="text" name="title" value="{{this.title}}">

          <label for="">Content:</label>
          <input type="text" name="content" value="{{this.content}}">

          <button class="btn btn-success w-50 mt-2 mb-2 align-self-center" type="submit" >submit change</button>
          </form>
        </div>
      </div>
      {{/if}}

    <div class="card-body">
      <div class="d-flex justify-content-between text-secondary">
        <p class="m-0">{{regexDate this.createdAt}}</p>
        <p class="m-0">{{regexTime this.createdAt}}</p>
      </div>
        <h5 class="card-title h4 d-flex flex-column">{{this.title}}</h5>
        <p>{{this.content}}</p>

        <div class="d-flex justify-content-between">
          <form action="/main-table/{{this._id}}/display-edit" method="POST">
              <button type="submit"class="btn btn-success">
                <i class="bi bi-pencil"></i>
              </button>
          </form>         

          <div class="btn-group" role="group" aria-label="Basic example">
            {{#unless this.toDoBoolean}}
              <form action="/main-table/{{this._id}}/backward" method="POST" class="backward">
                <input type="text" value="{{this.status}}" name="backward" hidden="true">
                <button type="submit" class="btn btn-outline-secondary round-arrow-left">
                  <i class="bi bi-caret-left-fill"></i>
                </button>
              </form>
            {{/unless}}
            {{#unless this.doneBoolean}}
              <form action="/main-table/{{this._id}}/foreward" method="POST" class="foreward">
                <input type="text" value="{{this.status}}" name="foreward" hidden="true">
                <button type="submit" class="btn btn-outline-secondary round-arrow-right">
                  <i class="bi bi-caret-right-fill"></i>
                </button>
              </form>
            {{/unless}}
          </div>
        
          <form action="/main-table/{{this._id}}/delete" method="POST" class="trash-form">
              <button id="btn-trash" class="btn btn-outline-danger w-100">
                <i class="bi bi-trash-fill"></i>
              </button>
          </form>
        </div>
      {{!-- in case i wanted to reposition de edit form place it here --}}

    </div>
</div>

