<div class="card m-4 border-dark" style="width: 25rem;">
    <div class="card-body">
      <div class="d-flex justify-content-between text-secondary">
        <p class="m-0">{{regexDate this.createdAt}}</p>
        <p class="m-0">{{regexTime this.createdAt}}</p>
      </div>
        <h5 class="card-title h4">{{this.title}}</h5>
        <p>{{this.content}}</p>
        <p>{{this.id}}</p>
        <div class="d-flex justify-content-between">
            <button class="btn btn-success">
              <i class="bi bi-pencil"></i>
            </button>
            {{!-- <a href="/main-table/{{this._id}}" >
              
            </a> --}}
            <form action="/main-table/{{this._id}}/delete" method="POST" class="trash-form">
                <button id="btn-trash" class="btn btn-outline-danger w-100">
                  <i class="bi bi-trash-fill"></i>
                </button>
            </form>
        </div>
            <div class="border">
              <form class="d-flex flex-column"action="/main-table/{{this._id}}/edit" method="POST">
              <label for="">title:</label>
              <input type="text" name="title" value="{{this.title}}">

              <label for="">content:</label>
              <input type="text" name="content" value="{{this.content}}">

              <button type="submit" >submit</button>
              </form>
            </div>
    </div>
</div>  